<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Quiz</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#submit").click(function(){
            $(".rb").show();
            $(".rb").attr("disabled", true);

        });
    });
    function get_answers()
    {
        document.getElementById("UserAnswer").innerHTML = "";
        var e = document.getElementByName("input");
        for (i = 0; i<=e.length; i++)
        {
            if (e[i].type == "radio" && e[i].checked)
            {
                document.getElementByTagName("UserAnswer").innerHTML +="Q " + e[i].name +"The selected answer is: " + e[i].value + "</br>";
            }

        }
    }
</script>
</head>
</html>
<body>
<div id="main">
<div id="header">
<h1>Quiz</h1>
</div>
<div id="Welcome">
<center>
<h2>Welcome to the Quiz</h2>
<p>This is a multiple choice quiz</p>
</center>
<hr/>

</div>
<div style = "padding-left: 30px;">
    {% for question in Question %}
    <table>
        <tr>
                <h3>{{question.qid}}) {{ question.qstring }} ?</h3>
        </tr>
                {% for answer in Option %}
                    {% if answer.qid == question.qid %}
                        <tr>
                        <input type="radio" name="{{question.qid}}" value="{{answer.oid}}" class = "rb">{{answer.ostring}}<br>
                        <tr>
                        {% endif %}
                {% endfor %}
                    {% for co in CorrectOption %}
                        {% if co.qid == question.qid %}
                            <tr>
                            <label id = "correct_option" class = "rb" style = "display: none; color: green">Correct Answer: {{question.correct_answer}}</label>
                            </tr>
                            {% endif %}
                    {% endfor %}
    </table>
    {% endfor %}
</br>
    <input type="submit" value="Submit" name="submit" id = "submit" onclick = "get_answers();"/>
    <strong id = "UserAnswer"></strong> 
    <hr/>
</div>
</body>
</html>
